@using HotelProject.WEBUI.Dtos.BookingDto
@model List<ResultBookingDto>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/AdminLayout/_AdminLAyout.cshtml";
    int count = 0;
}
<h2>Resarvations</h2>
<div class="col-lg-12">
    <div class="card">
        <div class="card-body">
            <div class="card-title">
                <h4>Table Basic</h4>
            </div>
            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Name</th>
                            <th>Check In Date</th>
                            <th>Check Out Date</th>
                            <th>Status</th>
                            <th>Accept</th>
                            <th>Cancel</th>
                            <th>Wait</th>
                            <th>Update</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            count++;
                            <tr>
                                <th>@count</th>
                                <td>@item.Name</td>
                                <td>@item.Checkin</td>
                                <td>@item.Checkout</td>
                                <td>
                                    <span class="badge badge-primary px-2">@item.Status</span>
                                </td>
                                <td >
                                    <a href="#" class=" btn btn-outline-primary">Accept</a>
                                </td>
                                <td>
                                    <a href="#" class=" btn btn-outline-danger">Cancel</a>
                                </td>
                                <td>
                                    <a href="#" class=" btn btn-outline-warning">wait</a>
                                </td>
                                <td>
                                    <a href="#" class=" btn btn-outline-info">Update</a>
                                </td>
                                
                                
                            </tr>
                        }


                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

